{% extends "global/PageExt.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Informed Consent Information
{% endblock %}

{% block inner_content %}

<div class="row">
  <div class="col-sm-12">
  <div class="box box1 shadow1">
<p>
    Welcome to the consent form for this economics study. You must read the
    following carefully before checking the box next to the red informed
    consent statement below the text area to proceed with your participation.
</p>
<h3>Procedures:</h3>
<p>
    You will be asked to make a series of decisions involving
    different payoffs. The entire session, which will include 18 separate
    decisions, split into two parts, will last up to 90 minutes. You will be
    given detailed information on how to make choices and how payments will
    depend on decisions made by you and other participants. The rules and
    payments may vary across parts and participants. For example, you may be
    asked to select a price at which to buy or sell an object, choose how to
    distribute a sum of money between participants, decide how much to donate
    to a public project, make predictions about other participants' decisions,
    or make a decision in some other context. This study follows the standards
    of experimental economics: participants must give their informed consent to
    participate, they are always paid, and they are never deceived.
</p>
<h3>Participation:</h3>
<p>
     You must be 18 years of age or older to participate. Your
    participation is voluntary, and you may choose not to participate or to
    withdraw from a study at any time and for any reason with no penalty.
</p>
<h3>Risks:</h3>
<p>
    There are no known harms or discomforts beyond those encountered in
    the decision-making of normal daily life. There is no cost to you to
    participating.
</p>
<h3>Benefits:</h3>
<p>
     There are no direct benefits to you other than monetary payments,
    but benefits to society include the generalized knowledge gained about
    decision-making.
</p>
<h3>Privacy:</h3>
<p>
    The only personal information that will be available to the
    researchers is what is publicly available on your [ESSL / MTurk] profile
    and any information that you choose to provide during the course of the
    study. This information will not be shared with any individuals who are not
    part of the research team.
</p>
<h3>Confidentiality:</h3>
<p>
     Researchers will be given information about your decisions
    only. They will not be given any personal identifying information. Data on
    decisions will be stored indefinitely for data analysis. Your name will be
    kept separately from data on decisions and will be used for administrative
    purposes only, such as ensuring that you receive your payment. Any
    information derived from this research project that personally identifies
    you will not be voluntarily released or disclosed without your separate
    consent, except as specifically required by law.
</p>
<h3>Compensation:</h3>
<p>
    Every participant is guaranteed at least $7 for participating
    in a session. Additional payments may also be received depending on the
    choices you make and factors determined randomly by the computer or by
    chance. Receipt of these additional payments is conditional upon completion
    of the experiment session. If you withdraw during the study or are
    withdrawn by the research team, then you will still receive the show-up
    payment. Your payment is made privately using the details you have provided
    to [ESSL / Mechanical Turk]. The only form of compensation is the monetary
    payment. [You will not receive an MTurk rating for this experiment.]
</p>
<h3>Contact:</h3>
<p>
    If you have questions or concerns, please contact the researchers
    at bolivava@uci.edu or kelsey.jack@tufts.edu or contact UCI's Office of
    Research, 5171 California Avenue, Suite 150, Irvine, CA 92697-7600, phone
949-824-6068 or 949-824-2125, email    <a href="mailto:IRB@rgs.uci.edu">IRB@rgs.uci.edu</a> or Lara Sloboda at the
Tufts Institutional Review Board at    <a href="mailto:lara.sloboda@tufts.edu">lara.sloboda@tufts.edu</a> or
    617-627-3276. The study procedures are reviewed by the UCI Institutional
    Review Board and the Tufts University Social and Behavioral Ethics Review
    Board to ensure compliance with established standards of human subject
    protection.
</p>
<h3>Concent:</h3>
<p>
     By checking the box below next to the red informed consent
    statement, you acknowledge that you have read the rules and privacy policy,
    you certify you are 18 years of age or older, and you agree that your
    participation is voluntary.
</p>
<p class='red'>
  <i>{{form.consent}}
      I acknowledge that I have read the rules and privacy policy, I
      certify I am 18 years of age or older, and I agree that my registration in
      the subject pool is voluntary.</i>
</p>
</div>
</div>
</div>

{% next_button %}
{% if form.consent.errors %}
  <div class="modal fade" tabindex="-1" role="dialog" id='myModal'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Please, accept this consent agreement</h4>
        </div>
        <div class="modal-body">
          <p>{{ form.consent.errors|striptags }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endif %}

</div>
{% if form.consent.errors %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script>
  $('#myModal').modal('toggle');
  $(document).ready(function(){
  var probs = $('.probs');
   probs.html("");
  });
  </script>

  <style>
  @-webkit-keyframes invalid {
    from { background-color: red; }
    to { background-color: inherit; }
  }
  @-moz-keyframes invalid {
    from { background-color: red; }
    to { background-color: inherit; }
  }
  @-o-keyframes invalid {
    from { background-color: red; }
    to { background-color: inherit; }
  }
  @keyframes invalid {
    from { background-color: red; }
    to { background-color: inherit; }
  }
  .invalid {
    -webkit-animation: invalid 1s infinite; /* Safari 4+ */
    -moz-animation:    invalid 1s infinite; /* Fx 5+ */
    -o-animation:      invalid 1s infinite; /* Opera 12+ */
    animation:         invalid 1s infinite; /* IE 10+ */
  }

  td {
      padding: 1em;
  }
  }
  </style>
{% endif %}


{% endblock %}
