<div class="well-lg well">

  <label class="control-label"
                        for="id_first_decision">Do you want to pay the final
                            investment cost of ${{Constants.q_parameters.final_cost}} to
                             release this payoff?

                 </label>

                 <div class="controls  field-first_decision">
                     <ul>
<li><label for="id_first_decision_1"><input type="radio" disabled id="id_first_decision_1" value="True"  name="first_decision" required> Yes</label></li>

<li><label for="id_first_decision_2"><input type="radio" disabled id="id_first_decision_2" value="False"  name="first_decision" required> No</label></li>
</ul>

</div>
</div>
