{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Comprehension questions
{% endblock %}

{% block content %}
{% include 'kelsey/InfoBlock.html' with initial_cost=Constants.q_parameters.initial_cost final_cost=Constants.q_parameters.final_cost high_payoff=Constants.q_parameters.high_payoff low_payoff=Constants.q_parameters.low_payoff   %}

<div class="well-lg well">
  Referring to the contract is shown above:
</div>
{% for f in form%}
  {% formfield f %}
{% endfor %}


    {% next_button %}
{% endblock %}
